<!-- add-modelo.component.html -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Agregar Modelo</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="addModeloForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="id_categoria">Categoria</label>
                    <select id="id_categoria" formControlName="id_categoria" class="form-control select2">
                        <option *ngFor="let category of categorys" [value]="category.id_categoria">{{ category.nombre }}</option>
                      </select>
                    <div *ngIf="addModeloForm.get('id_categoria')?.invalid && addModeloForm.get('id_categoria')?.touched" class="text-danger">
                        La categoria es requerida.
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="nombre">Modelo</label>
                    <input type="text" id="nombre" formControlName="nombre" class="form-control">
                    <div *ngIf="addModeloForm.get('nombre')?.invalid && addModeloForm.get('nombre')?.touched" class="text-danger">
                        El modelo es requerido.
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-6">
                    <label for="descripcion">Descripción</label>
                    <input type="text" id="descripcion" formControlName="descripcion" class="form-control">
                    <div *ngIf="addModeloForm.get('descripcion')?.invalid && addModeloForm.get('descripcion')?.touched" class="text-danger">
                        La descripción es requerida.
                    </div>
                </div>

            </div>


            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-secondary" (click)="onBack()">Volver</button>
            </div>
        </form>
    </div>
</div>
